/*
 * @Author: leofe 
 * @Date: 2017-10-26 21:18:53 
 * @Last Modified by: leofe
 * @Last Modified time: 2017-10-26 21:29:55
 */
.nav-simple {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}
.nav-simple .logo {
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
}











