/*
 * @Author: leofe 
 * @Date: 2017-10-20 22:21:12 
 * @Last Modified by: leofe
 * @Last Modified time: 2017-10-21 00:31:09
 */

 body {
     background-color: #ccc;
     color: #f60;
     font-size: 30px;
 }